.advantages {
  background-image: url("../img/benefits-background@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #dae7f4;

  @include retina {
    background-image: url("../img/benefits-background@2x.jpg");
  }
}

.advantages__wrapper {
  width: 84.9%;
  max-width: $vr-1160;
  min-height: 562px;
  margin: 0 auto;
  padding: 120px 0 30px 0;

  @include vp-1023 {
    min-width: $vr-678;
    width: 88.3%;
    min-height: 588px;
    padding-top: 100px;
  }

  @include vp-767 {
    min-width: $vr-290;
    width: 90.62%;
    min-height: 997px;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  h2 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 36px;
    }
  }
}
