.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84.9%;
  max-width: $vr-1160;
  min-height: 546px;
  margin: 0 auto;
  padding: 120px 0;
  padding-bottom: 90px;

  @include vp-1023 {
    min-width: $vr-678;
    width: 88.3%;
    min-height: 535px;
    padding: 100px 0;
  }

  @include vp-767 {
    flex-direction: column-reverse;
    min-width: $vr-290;
    width: 90.62%;
    min-height: 703px;
    padding-top: 58px;
    padding-bottom: 40px;
  }
}

.contacts__map {
  width: clamp(100px, 48.4%, 560px);
  margin-bottom: auto;

  img {
    width: 100%;
    height: auto;

    @include vp-1023 {
      aspect-ratio: 1 / 1.03;
    }

    @include vp-1023 {
      aspect-ratio: 1 / 1.09;
    }
  }

  @include vp-1023 {
    width: clamp(324px, 47.8%, 500px);
  }

  @include vp-767 {
    width: 100%;
  }

  &[data-map-state="with-js"] {
    min-height: 306px;
    aspect-ratio: initial;

    @include vp-1023 {
      min-height: 335px;
    }

    @include vp-767 {
      min-height: 316px;
    }

    img {
      display: none;
    }
  }
}

.contacts__info {
  width: clamp(100px, 43.1%, 500px);
  margin-top: 10px;

  @include vp-1023 {
    width: clamp(324px, 47.8%, 500px);
    margin-top: 32px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.contacts__subtitle {
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;

  @include vp-1023 {
    margin-bottom: 31px;
  }
}

.contacts__contact {
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 5px 0;
  padding-left: 28px;
  background-position: top 5px left 0;
  background-repeat: no-repeat;

  @include vp-1023 {
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
    background-position: top 0 left 0;
  }

  @include vp-767 {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--adress {
    background-size: 18px 22px;
    background-image: url("../img/sprite/map-pin.svg");

    @include vp-1023 {
      line-height: 20px;
    }
  }

  &--tel {
    position: relative;
    top: -13px;
    background-size: 18px 18px;
    background-image: url("../img/svg/cell-phone.svg");

    @include vp-1023 {
      top: -5px;
      line-height: 20px;
    }
  }
}

.contacts__tel-link {
  &:hover {
    opacity: 0.6;
  }
}
