.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin-left: 40px;
  margin-top: 4px;
  margin-right: auto;

  @include vp-1023 {
    width: 70%;
    margin-left: 26px;
    margin-top: 0;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }
}

.footer-list__item {
  @include vp-767 {
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 33px;

    @include vp-1023 {
      margin-right: 23px;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 11px;
    }
  }
}

.footer-list__link {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $color-default-white;
  cursor: pointer;

  @include vp-1023 {
    padding: 2px 0;
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    width: 100%;
    padding: 3px 0;
    font-size: 12px;
    line-height: 15px;
  }

  @include hover-focus {
    opacity: 0.6;
  }
}
