.form {
  width: 403px;
  margin-bottom: auto;
  margin-left: 25px;
  padding: 50px;
  padding-top: 42px;
  background-color: $color-default-black;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);

  @include vp-1023 {
    width: 96.1%;
    margin-left: 0;
    padding-top: 44px;
  }

  @include vp-767 {
    width: 100%;
    padding: 40px 30px;
    padding-top: 35px;
  }
}

.form__text {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-align: start;
  color: $color-default-white;

  @include vp-767 {
    display: block;
    width: 93%;
    margin: 0 auto 28px auto;
    line-height: 25px;
    text-align: center;
  }
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 20px;

  input {
    width: 100%;
    height: 100%;
    padding: 12.5px 16px;
    font-size: 14px;
    line-height: 21px;
    color: $color-default-black;
    background: $color-default-white;
    border: none;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      color: rgba(1, 28, 64, 0.7);
    }

    @include hover-focus {
      outline: 3px solid #badefb;
    }

    &:focus:required:invalid {
      outline: 3px solid #badefb;
    }
  }
}

.form__submit-button {
  width: 100%;
  min-height: 43px;
  margin-top: 18px;
  padding: 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: $color-default-black;
  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.form__error {
  position: absolute;
  bottom: -15px;
  left: 0;
  margin-left: 15px;
  font-size: 10px;
  line-height: 11px;
  color: $color-torch-red;
}
