.main-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 84.9%;
  max-width: $vr-1160;
  min-height: 90%;
  margin: 0 auto;
  padding-bottom: 230px;
  padding-left: 95px;

  @include vp-1023 {
    min-width: $vr-678;
    width: 88.3%;
    padding-left: 0;
  }

  @include vp-767 {
    min-width: $vr-290;
    width: 90.62%;
    padding-bottom: 100px;
  }

  h1 {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 30px;
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    color: $color-default-white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @include vp-1023 {
      position: relative;
      top: -35px;
      margin-bottom: 0;
      font-size: 50px;
      line-height: 61px;
    }

    @include vp-767 {
      margin-top: 41px;
      margin-bottom: 13px;
      font-size: 36px;
      line-height: 45px;
    }
  }

  p {
    position: relative;
    top: -17px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    color: $color-default-white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @include vp-1023 {
      top: -23px;
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      top: -37px;
      width: 80%;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
