.main-header {
  position: relative;
  z-index: 10;

  @include vp-767 {
    &[data-header-state="no-js"] {
      background-color: $color-default-white;
    }
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84.9%;
  max-width: $vr-1160;
  min-height: 38px;
  margin: 0 auto;
  padding-top: 35px;

  @include vp-1023 {
    min-width: $vr-678;
    width: 88.3%;
    padding-top: 30px;
  }

  @include vp-767 {
    position: relative;
    min-width: $vr-290;
    width: 90.62%;
    padding-top: 20px;

    &[data-header-state="no-js"] {
      flex-direction: column;
      justify-content: flex-start;
      transition: 0.5s;
    }

    &[data-header-state="open"] {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: flex-start;
      width: 89%;
      min-width: 285px;
      min-height: max-content;
      height: 100vh;
      margin-right: 0;
      padding: 20px 4.7% 0 15px;
      background-color: $color-default-white;
      transition: 0.5s;
      overflow: auto;
    }
  }
}

.main-header__link {
  margin-bottom: auto;
  width: 70px;
  height: 38px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-default-white;
  }

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    position: relative;
    z-index: 5;
    width: 42px;
    height: 22px;
    margin-right: auto;

    &[data-header-state="no-js"] {
      svg {
        fill: $color-default-black;
      }
    }

    &[data-header-state="open"] {
      margin-bottom: 0;

      svg {
        fill: $color-default-black;
      }
    }
  }

  @include hover-focus {
    opacity: 0.6;
  }
}

.main-header__toggler {
  display: none;

  @include hover-focus {
    opacity: 0.6;
  }

  @include vp-767 {
    display: block;
    width: 24px;
    height: 14px;
    padding: 0;
    background-color: inherit;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &[data-header-state="closed"] {
      background-image: url("../img/svg/burger.svg");
    }

    &[data-header-state="open"] {
      position: absolute;
      top: 25px;
      right: 3.8%;
      background-image: url("../img/svg/cross.svg");
    }

    &[data-header-state="no-js"] {
      display: none;
    }
  }
}
